---
---

@import "{{ site.theme }}";

body {
    text-align: justify;
}

img {
    margin: 10px;
    border: 2px solid #BBB;
}

table {
    border: none;
}

table td {
    border: none;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }